body {
  margin: 0;
  font-family: 'Farro', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f8a9a;
  background: rgb(255,240,240);
  background: radial-gradient(circle, rgba(255,240,240,1) 0%, rgba(240,255,255,1) 95%, rgba(240,246,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
