body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f8a9a;
  background: rgb(255,240,240);
  background: radial-gradient(circle, rgba(255,240,240,1) 0%, rgba(240,255,255,1) 95%, rgba(240,246,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  margin-bottom: 30px;
}
.input-city {
  border-radius: 4px;
  background-color: #d8fbff;
  border-color: #607D8B;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.input-city:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.button-city {
  border-radius: 4px;
  color: azure;
  background-color: #607D8B;
}
.button-city:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.weather-elem{
  margin-top: 35px;
}
.weather-card {
  padding: 0 10px 0 10px;
  margin-bottom: 35px;
}
.temp {
  position: relative;
}
.temp:before {
  content: '';
  background-color: #9c27b0;
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 15px;
  left: 96px;
  top: 10px;
}
.weather-p {
  text-align: left;
}
.weather-table {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 100%;
  color: #505050;
}
.weather-table__td {
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
}
.fa {
  position: absolute;
  right: 20px;
  top: 6px;
  color: red;
  font-size: 20px;
}
.fa:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.1s ease-out;
}

/* ___________ */
.modal-wrapper {
  position: absolute;
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  margin: 100px auto 0;
  transition: all .8s;
  width: 60%;
}

.btn-cancel {
  background-color: #b71c1c;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}
