body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f8a9a;
  background: rgb(255,240,240);
  background: radial-gradient(circle, rgba(255,240,240,1) 0%, rgba(240,255,255,1) 95%, rgba(240,246,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  margin-bottom: 30px;
}
.input-city {
  border-radius: 4px;
  background-color: #d8fbff;
  border-color: #607D8B;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.input-city:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.button-city {
  border-radius: 4px;
  color: azure;
  background-color: #607D8B;
}
.button-city:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.weather-card {
  margin: 0 5px 0 5px;
}
.weather {
  position: relative;
}
.temp:before {
  content: '';
  background-color: #9c27b0;
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 15px;
  left: 114px;
  top: 55px;
}
.weather-p {
  text-align: left;
}
